.receipts__table {
  .table__wrapper {
    .table__scroll-arrow {
      display: none;
    }
  }
  th {
    &:last-child {
      text-align: right;

      .table-cell_file {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          padding: 15px 20px;
        }
      }
    }
  }
  td {
    &:nth-child(1), &:nth-child(2) {
      & > * {
        padding: 20px 0;
      }
    }
    &:last-child {
      & > * {
        padding: 5px 0!important;
      }
      .button {
        background: transparent;
        color: #9782B2!important;
        text-transform: none;
        font-family: "SF Pro Display Regular", sans-serif;
        border-bottom: 1px solid #9782b2;
        border-radius: 0;
        padding: 0;
        padding-top: 16px;
      }
    }
    .table-cell_file {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        padding: 15px 20px;
      }
    }
  }
}

//.pdf__generated {
//  position: fixed;
//  right: 100%;
//  top: 5000px;
//
//  & > div {
//    position: absolute;
//    top: 0;
//    right: 0;
//  }
//}

.pdf-layout {
  //padding: 16px 27px;
  //font-weight: 500;
  //top: 0px;
  //width: 790px;
  //background-color: #fff;
  //font-family: 'Times New Roman';
  //right: 100%;
  ////height: 1135px;
  ////margin-bottom: 150px;

  .pdf__wrapper {
    border: 4px solid #000;
    .pdf__block {
      display: flex;

      &:not(:last-child) {
        border-bottom: 4px solid #000;
      }
      &:nth-child(2) {
        .pdf__block_left {
          justify-content: flex-end;
        }
      }
      .pdf__block_left {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        border-right: 4px solid #000;
        text-align: center;

        .pdf__title {
          font-size: 14px;
        }
        .pdf_code {
          width: calc(100% + 30px);
          justify-self: flex-start;
          margin-bottom: auto;

          img {
            width: 100%;
          }
        }
      }
      .pdf__block_right {
        width: 80%;
        padding: 10px 0 20px;
        flex-grow: 1;
      }
    }
  }
  .pdf__logo {
    display: flex;
    justify-content: center;
    width: 130px;
    margin: 0 auto;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }
  .pdf__fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.pdf__fields_space-between {
      justify-content: space-between;

      .pdf__field.pdf__field_row {
        justify-content: flex-start;
      }
    }
    &.pdf__fields_direction {
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    .pdf__field {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 45%;

      //&:last-child {
      //  margin-left: auto;
      //}
      &.pdf__field_row {
        flex-direction: row;
      }
      &.pdf__field_full {
        width: 100%;
        justify-content: flex-start;

        .pdf__title {
          width: 30%;
        }
        .pdf__text {
          flex-grow: 1;
        }
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &.pdf__payee-name {
        margin-bottom: 10px;
        width: 100%;

        .pdf__text {
          font-weight: 600;
        }
      }
      .pdf__text {
        border-bottom: 2px solid #000;
        text-align: center;
      }
      .pdf__text__desc {
        text-align: center;
      }
    }
  }
  .pdf__total {
    font-size: 17px;
    text-align: center;
  }
  .pdf_bold {
    font-weight: 600;
  }
  .pdf__title {
    white-space: break-spaces;
  }
  .pdf__warning {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
  }
}

.receipts {
  .VueTables {
    .table-responsive {
      th, td {
        &[filter-id=receipts_name] {
          width: 30%;
        }
        &[filter-id=receipts_period], &[filter-id=receipts_count], &[filter-id=receipts_sum], &[filter-id=receipts_debt], &[filter-id=file] {
          width: 20%;
        }
      }
    }
  }
}