@import "header.scss";
@import "footer.scss";
@import "table.scss";
@import "form.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display Regular', sans-serif;
  font-size: 14px;
  line-height: 16px;
  background-color: #F8F8FD;
}

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

a {
  &, &:hover {
    text-decoration: none;
    color: inherit;
  }
}

input, select, .form__field__content {
  &, &.form-control, &.vc-border, &.vc-border-2, &.vc-border-3, &.vue-dadata__input {
    &, &:focus, &:active {
      background-color: #F8F8FD;
      border: none;
      color: #282331;
      padding: 18px 16px;
      border-radius: 8px;
      outline: none;
      height: auto;
      box-shadow: none;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #F8F8FD inset !important;
}

.form__fields .form__field input[disabled]:-webkit-autofill,
.form__fields .form__field input[disabled]:-webkit-autofill:hover,
.form__fields .form__field input[disabled]:-webkit-autofill:focus,
.form__fields .form__field input[disabled]:-webkit-autofill:active,
.form__fields .form__field select[disabled]:-webkit-autofill,
.form__fields .form__field select[disabled]:-webkit-autofill:hover,
.form__fields .form__field select[disabled]:-webkit-autofill:focus,
.form__fields .form__field select[disabled]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

select {
  appearance: none;
  background: transparent;
  background-image: url("../../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 16.43px);
  background-position-y: 24.25px;
  cursor: pointer;
}

.title__wrapper {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: flex-start;
  margin-right: auto;

  &.title_without-line {
    .title.title_large {
      padding-left: 0;

      &:before {
        content: none;
      }
    }
  }
  .title {
    color: #292331;
    letter-spacing: 0.8px;
    font-size: 40px;
    line-height: 47px;
    position: relative;
    font-family: 'Rubik', sans-serif;
    margin-right: auto;

    &.title_large {
      padding-left: 53px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        background-color: #E83967;
        display: block;
        width: 7px;
        top: 50%;
        transform: translateY(-50%);
        height: calc(100% - 18px);
      }
    }

    &.title_medium {
      font-size: 18px;
      line-height: 21px;
      font-family: "SF Pro Display Bold", sans-serif;
      letter-spacing: 0.36px;
    }

    &.title_small {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.28px;
      font-family: "SF Pro Display Semibold", sans-serif;
    }

    &.title_large-medium {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.6px;
      font-family: 'Rubik', sans-serif;
    }
  }
}

.button {
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff!important;
  background-color: #143FDB;
  padding: 20px 54px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  border: none;
  outline: none!important;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.button_orange {
    background-color: #FF9922;
    box-shadow: 0px 35px 50px -14px #FF9922;
  }
  &.button_link {
    padding: 0;
    background-color: transparent;
    color: #143FDB!important;
    border-bottom: 1px solid #143FDB;
    border-radius: 0;
  }
  &.button_transparent {
    background-color: transparent;
  }
  &.button_transparent_blue {
    color: #143FDB!important;
    border: 1px solid #143FDB;
  }
  &.button_transparent_purple {
    color: #9582B6!important;
    border: 1px solid #9582B6;
  }
  &.button_inline {
    color: #143FDB!important;
    background: transparent;
    padding: 0;
  }
  &.button_pink {
    background-color: #9782B2;
  }
}

.form-control, .page-link {
  &:focus {
    box-shadow: none;
  }
}

.content-block__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 34px;
}

.content-block {
  padding: 23px 62px;
  box-shadow: 0px 15px 30px #143FDB1A;
  border-radius: 24px;
  background-color: #fff;
}

.modal__main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  .overlay {
    background-color: #292331;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }
}

.modal {
  position: absolute;
  padding: 25px 30px 35px;
  height: auto;
  background-color: #fff;
  transition: none;
  overflow-y: visible;
  overflow-x: visible;

  &.forgot-password__modal, &.search__modal {
    top: 50%;
    transform: translateY(-50%);
    max-width: 714px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 63px 86px 70px;
    position: fixed;

    .modal__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .modal__header {
        width: 100%;
        margin-bottom: 30px;
      }
      & > img {
        margin-bottom: 32.92px;
      }
      p {
        font-size: 18px;
        line-height: 31px;
        font-family: "SF Pro Display Regular", sans-serif;
        letter-spacing: 0.36px;
        max-width: 329px;
        text-align: center;
        margin-bottom: 44px;
      }
    }
  }
  &.active {
    display: block;
  }
  form {
    & > .title__wrapper {
      margin-bottom: 30px;
    }
  }
  .form__fields {
    margin-bottom: 35px;

    .form__field {
      input, select {
        &, &.vc-border, &.vc-border-2, &.vc-border-3, &.vc-border, &.vc-border-2, &.vc-border-3 {
          width: 100%;
        }
      }
    }
  }
  select, input {
    width: 100%;
  }
}

.main {
  padding-top: 60px;
  padding-bottom: 80px;
}

.link_hover:hover {
  color: #4885FF!important;
}

.table__filter__item.active, input[type="checkbox"]:checked {
  .label, & + .label {
    &:before {
      background-color: #9782B2;
    }
    &:after {
      content: url(../../images/check-mark.svg);
      position: absolute;
      display: block;
      width: 8px;
      z-index: 1;
      left: 3px;
      right: 0;
      top: calc(50% - 2px);
      transform: translateY(-50%);
      margin: 0 auto;
    }
  }
}

input[type="checkbox"] {
  display: none;

  & + .label {
    padding-left: 20px;
    margin-right: 0;

    &:before {
      right: auto;
      position: absolute;
      left: 0;
    }
    &:after {
      right: auto!important;
    }
  }
}

.label {
  margin-right: 10px;
  position: relative;

  &:before,  {
    height: 14px;
    display: block;
    width: 14px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #9782B2;
    content: '';
  }
}

.overlay.overlay_transparent {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.cancel {
  width: 23px;
  height: 23px;
  position: relative;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #9682B4;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  &:before {transform: rotate(45deg);}
  &:after {transform: rotate(-45deg);}
}

@media screen and (max-width: 767px) {
  .title__wrapper {
    .title {
      &.title_small {
        font-size: 12px;
        line-height: 14px;
      }
      &.title_large {
        font-size: 20px;
        line-height: 24px;
        padding-left: 26px;

        &:before {
          width: 4px;
          height: calc(100% - 10px);
        }
      }
    }
  }
}