<template>
    <div class="app_wrapper">
        <div class="title__wrapper">
            <div class="title title_large">
                Личный кабинет
            </div>
        </div>

        <div class="cabinet__wrapper">
            <div
                class="cabinet__card content-block"
                :class="{'disabled': paymentHistoryTable.state}"
            >
              <div
                class="cabinet_details"
                v-show="!paymentHistoryTable.state"
              >
                <div class="form__fields">
                  <div class="form__field">
                    <div class="title__wrapper">
                      <div class="title title_small">ФИО</div>
                    </div>

                    <div class="form__field__content">
                      {{ modelFields.contract_customer_surname }} {{ modelFields.contract_customer_name }} {{ modelFields.contract_patronymic }}
                    </div>
                  </div>
                  <div class="form__field">
                    <div class="title__wrapper">
                      <div class="title title_small">ЛИЦЕВОЙ СЧЕТ</div>
                    </div>

                    <div class="form__field__content">
                      {{ modelFields.contract_number }}
                    </div>
                  </div>
                  <div class="form__field">
                    <div class="title__wrapper">
                      <div class="title title_small">АДРЕС ПОДКЛЮЧЕНИЯ</div>
                    </div>

                    <div class="form__field__content">
                      {{ modelFields.contract_customer_full_address }}
                    </div>
                  </div>
                  <!--                    <div class="form__field form__field_small">-->
                  <!--                        <div class="title__wrapper">-->
                  <!--                            <div class="title title_small">ТАРИФНЫЙ ПЛАН</div>-->
                  <!--                        </div>-->

                  <!--                        <div class="form__field__content">-->
                  <!--                            Стандарт-->
                  <!--                        </div>-->
                  <!--                    </div>-->
                  <div class="form__field form__field_small">
                    <div class="title__wrapper">
                      <div class="title title_small">АБОНЕНТСКАЯ ПЛАТА</div>
                    </div>

                    <div class="form__field__content">
                      {{ modelFields.contract_tariff }} р./мес
                    </div>
                  </div>
                </div>

                <div class="form__fields">
                  <div class="form__field">
                    <button
                        class="button button_orange"
                        @click="generatePaymentUrl"
                    >
                      Оплатить
                    </button>
                  </div>
                  <div class="form__field">
                    <div
                        class="button button_link"
                        @click="paymentHistoryTable.state = true"
                    >
                      История платежей
                    </div>
                  </div>
                </div>
              </div>

              <div
                  class="modal cabinet_payments"
                  :class="{active: paymentHistoryTable.state}"
              >
                <div class="modal__wrapper">
                  <div class="title__wrapper">
                    <div
                        class="button button_inline"
                        @click="paymentHistoryTable.state = false"
                    >
                      <img src="../../images/button-back.svg" alt="">
                      Назад
                    </div>
                    <div class="title title_small">
                      История платежей
                    </div>
                  </div>

                  <div class="payment-history">
                    <div class="payment-history__items">
                      <div
                          class="payment-history__item"
                          v-for="payment in payments"
                          :class="{'payment-history_replenishment': payment.payment_name === 'Пополнение баланса', 'payment-history_payment': payment.payment_name === 'Оплата услуг'}"
                      >
                        <div class="payment-history__item__data">
                          <div class="title__wrapper">
                            <div class="title">{{payment.payment_name}}</div>
                          </div>
                          <div class="payment-history__item__info">
                            <div class="payment-history__item__date">
                              {{getDate(payment.payment_date, {date: true, time: true})}}
                            </div>
                            <div class="payment-history__item__type">
                              {{payment.payment_type}}
                            </div>
                          </div>
                        </div>

                        <div class="payment-history__item__price">
                          {{payment.payment_name === 'Пополнение баланса' ? '+' : '-'}} {{payment.payment_price}} р.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="cabinet__actions">
                <div class="cabinet__balance content-block">
                    <div class="cabinet__balance__price">
                        <div class="cabinet__balance__title">Баланс:</div>
                        <div class="cabinet__balance__content">{{ modelFields.contract_debt }} р.</div>
                    </div>
                    <div class="cabinet__balance__period">
                        <div class="cabinet__balance__title">ПЕРИОД ОПЛАТЫ</div>
                        <div class="cabinet__balance__content">{{ modelFields.contract_period ? modelFields.contract_period.month : '' }} {{ modelFields.contract_period ? modelFields.contract_period.year : '' }}</div>
                    </div>
                </div>

                <div class="form__fields">
                    <div class="form__field">
                        <a href="#" class="button button_transparent button_transparent_blue">
                            <img src="../../images/cabinet-question.svg" alt="">
                            ЗАДАТЬ ВОПРОС
                        </a>
                    </div>
                    <div class="form__field">
                        <a href="#" class="button button_transparent button_transparent_purple">
                            ИЗМЕНИТЬ ПАРОЛЬ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';

    export default {
        name: 'Account',
        data() {
            return {
                modelFields: {
                    contract_number: null,
                    contract_date: null,
                    contract_debt: 0,
                    contract_phone: null,
                    contract_renewal_date: null,
                    contract_tariff: null,
                    contract_period: null,
                    contract_speed: null,
                    contract_password: null,
                    contract_customer_surname: null,
                    contract_customer_name: null,
                    contract_patronymic: null,
                    contract_customer_phone: null,
                    contract_customer_second_phone: null,
                    contract_customer_email: null,
                    contract_customer_full_address: null,
                    contract_customer_street: null,
                    contract_customer_region: null,
                    contract_customer_area: null,
                    contract_customer_locality: null,
                    contract_customer_house_number: null,
                    contract_customer_type_of_room: null,
                    contract_customer_passport_series: null,
                    contract_customer_passport_number: null,
                    contract_customer_passport_code: null,
                    contract_customer_passport_issued_by: null,
                    contract_customer_passport_registration_address: null,
                    contract_comment_one: null,
                    contract_comment_two: null,
                    contract_price: null,
                    contract_installer: null,
                    contract_customer_passport_date_of_issue: null,
                    contract_customer_birthday: null,
                },
                paymentHistoryTable: {
                  state: false,
                }
            }
        },
        methods: {
            generatePaymentUrl: function () {
              let date = new Date();

              this.$store.dispatch('paymentGenerateUrl', {
                payment_date: String(Number(date.getFullYear()) < 10 ? '0' + String(date.getFullYear()) : String(date.getFullYear()))
                    + '-'
                    + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                    + '-'
                    + String(date.getDate())
                    + ' '
                    + String(String(date.getHours()) < 10 ? '0' + String(date.getHours()) : String(date.getHours()))
                    + ':'
                    + String(String(date.getMinutes()) < 10 ? '0' + String(date.getMinutes()) : String(date.getMinutes())),
                payment_name: 'Пополнение баланса',
                payment_customer_name: String(this.contract.contract_customer_surname + " " + this.contract.contract_customer_name + " " + this.contract.contract_patronymic).toUpperCase(),
                payment_period: String(this.contract.contract_period),
                payment_price: this.contract.contract_tariff,
                contract_number: this.contract.contract_number,
                payment_type: 'Онлайн на сайте',
              }).then(() => {
                document.location.replace(this.paymentGeneratedUrl);
              });
            },
            getDate(date, type) {
              date = new Date(date);

              let transformedDate = '';

              if (type.date) {
                transformedDate = transformedDate
                    + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
                    + '.'
                    + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                    + '.'
                    + String(date.getFullYear());
              }

              if (type.time) {
                transformedDate = transformedDate
                    + ' '
                    + String(String(date.getHours()) < 10 ? '0' + String(date.getHours()) : String(date.getHours()))
                    + ':'
                    + String(String(date.getMinutes()) < 10 ? '0' + String(date.getMinutes()) : String(date.getMinutes()));
              }

              return transformedDate;
            },
        },
        components: {
        },
        computed: {
          ...mapGetters([
            'paymentGeneratedUrl',
            'contract',
            'payments',
          ]),
        },
        mounted() {
            this.$store.dispatch('getUserContract').then(() => {
              if (this.$store.getters.contract != null) {
                for (let attrName in this.$store.getters.contract) {
                  if (attrName === 'contract_date' || attrName === 'contract_customer_birthday' || attrName === 'contract_customer_passport_date_of_issue') {
                    this.modelFields[attrName] = new Date(this.$store.getters.contract[attrName]);
                  } if (attrName === 'contract_period') {
                    let monthNames = [
                      "Январь",
                      "Февраль",
                      "Март",
                      "Апрель",
                      "Май",
                      "Июнь",
                      "Июль",
                      "Август",
                      "Сентябрь",
                      "Октябрь",
                      "Ноябрь",
                      "Декабрь"
                    ];

                    let period = String(this.$store.getters.contract['contract_period']).match(/.{1,2}/g);

                    this.modelFields.contract_period =  {
                      month: monthNames[Number(period[0]) - 1],
                      year: period[1]
                    };
                  } else {
                    this.modelFields[attrName] = this.$store.getters.contract[attrName];
                  }
                }
              }

              this.$store.dispatch('getUserPayments');
            });
        }
    };
</script>