<template>
    <div class="app">
        <router-view/>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import { ServerTable, ClientTable, Event } from 'vue-tables-2';
    import DataTable from "./table-templates/DataTable";
    import VtPerPageSelector from './table-templates/PerPageSelector';
    import VtGenericFilter from './table-templates/GenericFilter';
    import VtHeadingsRow from './table-templates/HeadingsRow';
    import VtTableHeading from './table-templates/TableHeading';
    import VtTableCell from './table-templates/TableCell';
    import VtTableRow from './table-templates/VtTableRow';

    Vue.use(ClientTable, {}, false, 'bootstrap4', {
        dataTable: DataTable,
        perPageSelector: VtPerPageSelector,
        genericFilter: VtGenericFilter,
        headingsRow: VtHeadingsRow,
        tableHeading: VtTableHeading,
        tableRow: VtTableRow,
        tableCell: VtTableCell
    });

    export default {
        name: 'App',
        components: {
        },
        computed: {
        },
    };
</script>

<style scoped>
</style>
