<template>
    <div class="app_wrapper">
        <form method='post' action='/api/contract/import-balances' enctype='multipart/form-data' style="display: none">
          <input type='file' name='file' >
          <input type='submit' name='submit' value='Import'>
        </form>

        <v-client-table
        v-if="contracts && localStorageLoading"
        :columns="columns"
        v-model="data"
        :options="options"
        ref="custom-table"
        >
            <div slot="contract_period" slot-scope="{row}">
                <div class="table-cell">
                    <div class="table-cell__wrapper table-cell_contract_period">
                        {{row.contract_period != null ? String(row.contract_period) : 'пусто'}}
                    </div>
                </div>
            </div>

            <div slot="contract_number" slot-scope="{row}">
                <div class="table-cell">
                    <div class="table-cell__wrapper table-cell_contract">
                        {{row.contract_number}}
                    </div>
                </div>
            </div>

            <div slot="contract_debt" slot-scope="{row}">
                <div class="table-cell">
                    <div
                    class="table-cell__wrapper table-cell_debt"
                    :class="{ 'table-cell_debt_active': row.contract_debt >= 0, 'table-cell_debt_disable': row.contract_debt < 0 }"
                    >
                        {{ row.contract_debt }} руб.
                    </div>
                </div>
            </div>

            <div slot="contract_customer_birthday" slot-scope="{row}">
                <div class="table-cell">
                    <div class="table-cell__wrapper table-cell_date">
                        {{getDate(row.contract_customer_birthday, {date: true, time: false, month: false})}}
                    </div>
                </div>
            </div>

            <div slot="contract_customer_passport_date_of_issue" slot-scope="{row}">
                <div class="table-cell">
                    <div class="table-cell__wrapper table-cell_date">
                        {{getDate(row.contract_customer_passport_date_of_issue, {date: true, time: false, month: false})}}
                    </div>
                </div>
            </div>

            <div slot="contract_date" slot-scope="{row}">
                <div class="table-cell">
                    <div class="table-cell__wrapper table-cell_date">
                        {{getDate(row.contract_date, {date: true, time: false, month: false})}}
                    </div>
                </div>
            </div>

            <div slot="contract_renewal_date" slot-scope="{row}">
                <div class="table-cell">
                    <div class="table-cell__wrapper table-cell_date">
                        {{row.contract_renewal_date != null ? getDate(row.contract_renewal_date, {date: true, time: false, month: false}) : 'пусто'}}
                    </div>
                </div>
            </div>

            <div slot="contract_customer_passport_code" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_customer_passport_code">
                  {{row.contract_customer_passport_code != null ? String(row.contract_customer_passport_code) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_customer_passport_code" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_customer_passport_code">
                  {{row.contract_customer_passport_code != null ? String(row.contract_customer_passport_code) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_phone" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_phone">
                  {{row.contract_phone != null ? String(row.contract_phone) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_operator" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_operator">
                  {{row.contract_operator != null ? String(row.contract_operator) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_customer_full_address" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_customer_full_address">
                  {{row.contract_customer_full_address != null ? String(row.contract_customer_full_address) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_customer_name" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_customer_name">
                  {{row.contract_customer_name != null ? String(row.contract_customer_name) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_customer_surname" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_customer_surname">
                  {{row.contract_customer_surname != null ? String(row.contract_customer_surname) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_patronymic" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_patronymic">
                  {{row.contract_patronymic != null ? String(row.contract_patronymic) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_customer_phone" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_customer_phone">
                  {{row.contract_customer_phone != null ? String(row.contract_customer_phone) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_customer_second_phone" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_customer_second_phone">
                  {{row.contract_customer_second_phone != null ? String(row.contract_customer_second_phone) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_customer_email" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_customer_email">
                  {{row.contract_customer_email != null ? String(row.contract_customer_email) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_comment_one" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_comment_one">
                  {{row.contract_comment_one != null ? String(row.contract_comment_one) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_comment_two" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_comment_two">
                  {{row.contract_comment_two != null ? String(row.contract_comment_two) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_price" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_price">
                  {{row.contract_price != null ? String(row.contract_price) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="contract_installer" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_installer">
                  {{row.contract_installer != null ? String(row.contract_installer) : 'пусто'}}
                </div>
              </div>
            </div>

            <div slot="editing" slot-scope="{row}">
                <div class="table-cell">
                </div>
            </div>
        </v-client-table>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import { Event } from 'vue-tables-2';

    export default {
        name: 'Billing',
        data() {
            return {
                localStorageLoading: false,
                paymentRecords: null,
                columns: [
                    'editing',
                    'contract_number',
                    'contract_date',
                    'contract_phone',
                    'contract_operator',
                    'contract_renewal_date',
                    'contract_debt',
                    'contract_period',
                    'contract_status',
                    'contract_speed',
                    'contract_type',
                    'contract_customer_surname',
                    'contract_customer_name',
                    'contract_patronymic',
                    'contract_customer_phone',
                    'contract_customer_second_phone',
                    'contract_customer_email',
                    'contract_customer_full_address',
                    'contract_customer_birthday',
                    'contract_customer_passport_series',
                    'contract_customer_passport_number',
                    'contract_customer_passport_code',
                    'contract_customer_passport_date_of_issue',
                    'contract_customer_passport_issued_by',
                    'contract_customer_passport_registration_address',
                    'contract_comment_one',
                    'contract_comment_two',
                    'contract_price',
                    'contract_installer',
                    'contract_district',
                ],
                data: null,
                options: {
                    texts: {
                        count: "Showing {from} to {to} of {count} records|{count} records|One record",
                        first: "Первый",
                        last: "Последний",
                        filter: "Фильтр:",
                        filterPlaceholder: "Поисковое поле",
                        limit: "Записи:",
                        page: "Страница:",
                        noResults: "Нет записей",
                        filterBy: "Фильтр по {column}",
                        loading: "Загрузка...",
                        defaultOption: "Выбрать {column}",
                        columns: "Столбцы"
                    },
                    sortIcon: {
                        base : 'fa',
                        is: 'fa-sort',
                        up: 'fa-sort-asc',
                        down: 'fa-sort-desc'
                    },
                    headings: {
                        editing: function(h) {
                            return <div class="heading heading_editing"></div>
                        },
                        contract_number: 'Договор',
                        contract_date: 'Дата',
                        contract_phone: 'Номер',
                        contract_operator: 'Оператор',
                        contract_renewal_date: 'Дата продления',
                        contract_debt: 'Баланс',
                        contract_period: 'Период',
                        contract_status: 'Статус',
                        contract_speed: 'Скорость',
                        contract_type: 'Тип',
                        contract_customer_surname: 'Фамилия',
                        contract_customer_name: 'Имя',
                        contract_patronymic: 'Отчество',
                        contract_customer_phone: 'Телефон',
                        contract_customer_second_phone: 'Доп. телефон',
                        contract_customer_email: 'E-mail',
                        contract_customer_full_address: 'Факт. адрес',
                        contract_customer_birthday: 'Дата рождения',
                        contract_customer_passport_series: 'Серия',
                        contract_customer_passport_number: 'Номер',
                        contract_customer_passport_code: 'Код',
                        contract_customer_passport_date_of_issue: 'Дата выдачи',
                        contract_customer_passport_issued_by: 'Кем выдан',
                        contract_customer_passport_registration_address: 'Адрес регистрации',
                        contract_comment_one: 'Комментарий 1',
                        contract_comment_two: 'Комментарий 2',
                        contract_price: 'Цена',
                        contract_installer: 'Монтажник',
                        contract_district: 'Район'
                    },
                    sortable: [
                        'contract_number',
                        'contract_date',
                        'contract_renewal_date',
                        'contract_status',
                        'contract_phone',
                        'contract_operator',
                        'contract_debt',
                        'contract_period',
                        'contract_speed',
                        'contract_type',
                        'contract_customer_surname',
                        'contract_customer_name',
                        'contract_patronymic',
                        'contract_customer_phone',
                        'contract_customer_second_phone',
                        'contract_customer_email',
                        'contract_customer_full_address',
                        'contract_customer_birthday',
                        'contract_customer_passport_series',
                        'contract_customer_passport_number',
                        'contract_customer_passport_code',
                        'contract_customer_passport_date_of_issue',
                        'contract_customer_passport_issued_by',
                        'contract_customer_passport_registration_address',
                        'contract_comment_one',
                        'contract_comment_two',
                        'contract_price',
                        'contract_installer',
                        'contract_district',
                    ],
                    resizableColumns: false,
                    customFilters: [
                        {
                            name: 'contract_comment_one',
                            callback: function(row, query) {
                                return (typeof row['contract_comment_one'] === 'string' ? row['contract_comment_one'].toLowerCase() : row['contract_comment_one']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_comment_two',
                            callback: function(row, query) {
                                return (typeof row['contract_comment_two'] === 'string' ? row['contract_comment_two'].toLowerCase() : row['contract_comment_two']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_customer_birthday',
                            callback: function(row, query) {
                                return row['contract_customer_birthday'] == query;
                            }
                        },
                        {
                            name: 'contract_customer_email',
                            callback: function(row, query) {
                                return (typeof row['contract_customer_email'] === 'string' ? row['contract_customer_email'].toLowerCase() : row['contract_customer_email']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_customer_full_address',
                            callback: function(row, query) {
                                return (typeof row['contract_customer_full_address'] === 'string' ? row['contract_customer_full_address'].toLowerCase() : row['contract_customer_full_address']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_customer_name',
                            callback: function(row, query) {
                                return (typeof row['contract_customer_name'] === 'string' ? row['contract_customer_name'].toLowerCase() : row['contract_customer_name']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_customer_passport_code',
                            callback: function(row, query) {
                                return row['contract_customer_passport_code'] == query;
                            }
                        },
                        {
                            name: 'contract_customer_passport_date_of_issue',
                            callback: function(row, query) {
                                return row['contract_customer_passport_date_of_issue'] == query;
                            }
                        },
                        {
                            name: 'contract_customer_passport_issued_by',
                            callback: function(row, query) {
                                return (typeof row['contract_customer_passport_issued_by'] === 'string' ? row['contract_customer_passport_issued_by'].toLowerCase() : row['contract_customer_passport_issued_by']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_customer_passport_number',
                            callback: function(row, query) {
                                return row['contract_customer_passport_number'] == query;
                            }
                        },
                        {
                            name: 'contract_customer_passport_registration_address',
                            callback: function(row, query) {
                                return (typeof row['contract_customer_passport_registration_address'] === 'string' ? row['contract_customer_passport_registration_address'].toLowerCase() : row['contract_customer_passport_registration_address']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_customer_passport_series',
                            callback: function(row, query) {
                                return row['contract_customer_passport_series'] == query;
                            }
                        },
                        {
                            name: 'contract_customer_phone',
                            callback: function(row, query) {
                                return row['contract_customer_phone'] == query;
                            }
                        },
                        {
                            name: 'contract_customer_second_phone',
                            callback: function(row, query) {
                                return row['contract_customer_second_phone'] == query;
                            }
                        },
                        {
                            name: 'contract_customer_surname',
                            callback: function(row, query) {
                                return (typeof row['contract_customer_surname'] === 'string' ? row['contract_customer_surname'].toLowerCase() : row['contract_customer_surname']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_date',
                            callback: function(row, query) {
                                return row['contract_date'] == query;
                            }
                        },
                        {
                            name: 'contract_debt',
                            callback: function(row, query) {
                                return row['contract_debt'] == query;
                            }
                        },
                        {
                            name: 'contract_installer',
                            callback: function(row, query) {
                                return (typeof row['contract_installer'] === 'string' ? row['contract_installer'].toLowerCase() : row['contract_installer']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_number',
                            callback: function(row, query) {
                                return row['contract_number'] == query;
                            }
                        },
                        {
                            name: 'contract_operator',
                            callback: function(row, query) {
                                return (typeof row['contract_operator'] === 'string' ? row['contract_operator'].toLowerCase() : row['contract_operator']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_patronymic',
                            callback: function(row, query) {
                                return (typeof row['contract_patronymic'] === 'string' ? row['contract_patronymic'].toLowerCase() : row['contract_patronymic']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                            name: 'contract_period',
                            callback: function(row, query) {
                                return row['contract_period'] == query;
                            }
                        },
                        {
                            name: 'contract_phone',
                            callback: function(row, query) {
                                return row['contract_phone'] == query;
                            }
                        },
                        {
                            name: 'contract_price',
                            callback: function(row, query) {
                                return row['contract_price'] == query;
                            }
                        },
                        {
                            name: 'contract_speed',
                            callback: function(row, query) {
                                return row['contract_speed'] == query;
                            }
                        },
                        {
                            name: 'contract_status',
                            callback: function(row, query) {
                                return row['contract_status'] == query;
                            }
                        },
                        {
                            name: 'contract_type',
                            callback: function(row, query) {
                                return (typeof row['contract_type'] === 'string' ? row['contract_type'].toLowerCase() : row['contract_type']) == (typeof query === 'string' ? query.toLowerCase() : query);
                            }
                        },
                        {
                          name: 'contract_district',
                          callback: function(row, query) {
                            return (typeof row['contract_district'] === 'string' ? row['contract_district'].toLowerCase() : row['contract_district']) == (typeof query === 'string' ? query.toLowerCase() : query);
                          }
                        },
                    ],
                },
                modal: {
                    id: null,
                    status: false,
                },
            }
        },
        methods: {
            modalStatusChange: function (id) {
                this.modal.status = !this.modal.status;
                this.modal.id = id;
            },
            getDate(date, type) {
                date = new Date(date);

                let transformedDate = '';

                if (type.date) {
                    transformedDate = String(transformedDate)
                    + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
                    + '.'
                    + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                    + '.'
                    + String(date.getFullYear());
                }

                if (type.time) {
                    transformedDate = String(transformedDate)
                    + ' '
                    + String(String(date.getHours()) < 10 ? '0' + String(date.getHours()) : String(date.getHours()))
                    + ':'
                    + String(String(date.getMinutes()) < 10 ? '0' + String(date.getMinutes()) : String(date.getMinutes()));
                }

                if (type.month) {
                    const monthNames = [
                        "января",
                        "февраля",
                        "марта",
                        "апреля",
                        "мая",
                        "июня",
                        "июля",
                        "августа",
                        "сентября",
                        "октября",
                        "ноября",
                        "декабря"
                    ];

                    transformedDate = String(transformedDate)
                    + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
                    + ' '
                    + String(monthNames[date.getMonth()]);
                }

                return transformedDate;
            },
            submitImportPayments(e) {
                this.$store.dispatch('importPayments', {
                    payments: JSON.stringify(this.paymentRecords)
                });
            },
            submitExportBalance(e) {
                this.$store.dispatch('exportBalance');
            },
            resetFilter() {
              for (let queryIndex in this.$refs['custom-table'].$refs['table'].customQueries) {
                this.$refs['custom-table'].$refs['table'].customQueries[queryIndex] = '';
              }
            }
        },
        components: {
        },
        watch: {
            paymentRecords(val) {
                console.log(this.paymentRecords)
            }
        },
        computed: {
            ...mapGetters([
              'contractHeadings',
              'columnsDisplay',
              'tableType',
            ]),
            contracts() {
                this.data = this.$store.getters.contracts;

                this.$store.dispatch('setContractHeadings', this.options.headings);

                return this.$store.getters.contracts;
            }
        },
        mounted() {
            this.$store.dispatch('setTableType', 'billing').then(() => {
              if (!localStorage.hasOwnProperty(this.tableType + 'Filters')) {
                let storage = {};

                for (let contractFilter in this.contractHeadings) {
                  console.log('contractFilter', contractFilter);
                  // console.log('this.columnsDisplay[i]', this.columnsDisplay[i]);

                  if (this.columnsDisplay.indexOf(contractFilter) !== -1) {
                    storage[contractFilter] = true;
                  } else {
                    storage[contractFilter] = false;
                  }
                }

                localStorage[this.tableType + 'Filters'] = JSON.stringify(storage);

                this.localStorageLoading = true;
              } else {
                let localStorageObject = JSON.parse(localStorage[this.tableType + 'Filters']);

                for (let contractFilter in localStorageObject) {

                  // console.log('this.columnsDisplay[i]', this.columnsDisplay[i]);

                  if (!localStorageObject[contractFilter]) {
                    console.log('1 contractFilter, localStorageObject[contractFilter], this.columnsDisplay.indexOf(contractFilter)', contractFilter, localStorageObject[contractFilter], this.columnsDisplay.indexOf(contractFilter));
                    if (this.columnsDisplay.indexOf(contractFilter) !== -1) {
                      this.columnsDisplay.splice(this.columnsDisplay.indexOf(contractFilter), 1);
                    }
                  } else {
                    console.log('2 contractFilter, localStorageObject[contractFilter], this.columnsDisplay.indexOf(contractFilter)', contractFilter, localStorageObject[contractFilter], this.columnsDisplay.indexOf(contractFilter));
                    if (this.columnsDisplay.indexOf(contractFilter) === -1) {
                      this.columnsDisplay.push(contractFilter);
                    }
                  }
                }

                this.localStorageLoading = true;
              }
            });

            window.jsjs = this;
            this.$store.dispatch('getContracts');
        }
    };
</script>

<style scoped>
</style>