<template>
  <div class="app_wrapper">
    <form
    class="form content-block"
    method="POST"
    @submit.prevent="submitForgotPassword"
    >
      <div class="title__wrapper title_without-line">
        <div class="title title_large">
          Получить пароль
        </div>
      </div>

      <div class="form__groups">
        <div class="form__group">
          <div class="form__fields">
            <div class="form__field">
              <div class="title__wrapper">
                <div class="title title_small">Номер телефона</div>
              </div>

              <input
              id="client_phone"
              type="text"
              class="form-control"
              name="client_phone"
              v-model="phone"
              v-mask="{
                mask: '+79999999999',
                rightAlign: false,
                placeholder: '',
                allowPlus: false,
              }"
              required
              autocomplete="client_phone"
              autofocus
              placeholder="Укажите номер телефона на который нужно перезвонить"
              >
            </div>
          </div>

          <div class="form__fields">
            <div class="form__field">
              <button
              type="submit"
              class="button button_orange"
              :disabled="phone ? phone.length !== 12 : true"
              >
                Получить пароль
              </button>
            </div>
            <div class="form__field">
              <a class="button button_link" href="/login">
                Войти
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div
    class="modal__main"
    v-if="successForgotPasswordModal"
    >
      <div
      class="content-block modal forgot-password__modal"
      :class="{active: successForgotPasswordModal}"
      >
        <div class="modal__wrapper">
          <div class="modal__header">
            <div class="title__wrapper">
              <div class="title title_large-medium">
                Заявка отправлена
              </div>

              <div
              class="modal__close"
              @click="successForgotPasswordModal = false"
              ></div>
            </div>
          </div>

          <img src="../../images/send-background.svg" alt="">

          <p>Мы приняли заявку и свяжемся с вами в ближайшее время</p>

          <button
          type="button"
          class="button button_orange"
          @click="successForgotPasswordModal = false"
          >
            ОК
          </button>
        </div>
      </div>

      <div
      class="overlay"
      @click="successForgotPasswordModal = !successForgotPasswordModal"
      ></div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from "axios";

const VueInputMask = require('vue-inputmask').default;

Vue.use(VueInputMask);

export default {
  name: 'ForgotPassword',
  data() {
    return {
      phone: null,
      successForgotPasswordModal: false,
    }
  },
  methods: {
    submitForgotPassword() {
      axios.post('/api/forgot-password', {
          phone: this.phone
        })
        .then((response) => {
          this.successForgotPasswordModal = true;
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  components: {
  },
  computed: {
  },
  mounted() {
  }
};
</script>

<style scoped>
</style>