<template>
    <div class="app_wrapper">
        <v-client-table
        v-if="allPayments && localStorageLoading"
        :columns="columns"
        v-model="data"
        :options="options"
        ref="custom-table"
        >
            <div slot="payment_period" slot-scope="{row}">
              <div class="table-cell">
                <div class="table-cell__wrapper table-cell_payment_period">
                  {{row.payment_period !== 'null' ? String(row.payment_period) : ''}}
                </div>
              </div>
            </div>

            <div slot="contract_number" slot-scope="{row}">
                <div class="table-cell">
                    <div class="table-cell__wrapper table-cell_contract">
                        {{row.contract_number}}
                    </div>
                </div>
            </div>

            <div slot="payment_price" slot-scope="{row}">
                <div class="table-cell">
                    <div
                    class="table-cell__wrapper table-cell_debt"
                    :class="{ 'table-cell_debt_active': row.payment_name === 'Пополнение баланса', 'table-cell_debt_disable': row.payment_name === 'Оплата услуг' }"
                    >
                        {{row.payment_price}} руб.
                    </div>
                </div>
            </div>

            <div slot="payment_date" slot-scope="{row}">
                <div class="table-cell">
                    <div class="table-cell__wrapper table-cell_date">
                        {{getDate(row.payment_date, {date: true, time: true, month: false})}}
                    </div>
                </div>
            </div>

            <div slot="editing" slot-scope="{row}">
                <div class="table-cell">
                </div>
            </div>
        </v-client-table>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';

    export default {
        name: 'Payments',
        data() {
            return {
                localStorageLoading: false,
                columns: [
                    'editing',
                    'contract_number',
                    'payment_date',
                    'payment_type',
                    'payment_price',
                    'payment_period',
                    'payment_name',
                ],
                data: null,
                options: {
                    texts: {
                        count: "Showing {from} to {to} of {count} records|{count} records|One record",
                        first: "Первый",
                        last: "Последний",
                        filter: "Фильтр:",
                        filterPlaceholder: "Поисковое поле",
                        limit: "Записи:",
                        page: "Страница:",
                        noResults: "Нет записей",
                        filterBy: "Фильтр по {column}",
                        loading: "Загрузка...",
                        defaultOption: "Выбрать {column}",
                        columns: "Столбцы"
                    },
                    sortIcon: {
                        base : 'fa',
                        is: 'fa-sort',
                        up: 'fa-sort-asc',
                        down: 'fa-sort-desc'
                    },
                    headings: {
                        editing: function(h) {
                            return <div class="heading heading_editing"></div>
                        },
                        contract_number: 'Договор',
                        payment_date: 'Дата',
                        payment_type: 'Тип операции',
                        payment_price: 'Сумма',
                        payment_period: 'Период',
                        payment_name: 'Признак',
                    },
                    sortable: [
                        'contract_number',
                        'payment_date',
                        'payment_type',
                        'payment_price',
                        'payment_period',
                        'payment_name',
                    ],
                    resizableColumns: false,
                    customFilters: [
                      {
                        name: 'contract_number',
                        callback: function(row, query) {
                          return row['contract_number'] == query;
                        }
                      },
                      {
                        name: 'payment_date',
                        callback: function(row, query) {
                          return (row['payment_date'].substring(10, 0) + ' 00:00:00') == (query.substring(10, 0) + ' 00:00:00');
                        }
                      },
                      {
                        name: 'payment_type',
                        callback: function(row, query) {
                          return (typeof row['payment_type'] === 'string' ? row['payment_type'].toLowerCase() : row['payment_type']) == (typeof query === 'string' ? query.toLowerCase() : query);
                        }
                      },
                      {
                        name: 'payment_price',
                        callback: function(row, query) {
                          return row['payment_price'] == query;
                        }
                      },
                      {
                        name: 'payment_period',
                        callback: function(row, query) {
                          return row['payment_period'] == query;
                        }
                      },
                      {
                        name: 'payment_name',
                        callback: function(row, query) {
                          return (typeof row['payment_name'] === 'string' ? row['payment_name'].toLowerCase() : row['payment_name']) == (typeof query === 'string' ? query.toLowerCase() : query);
                        }
                      },
                    ],
                },
                modal: {
                    id: null,
                    status: false,
                },
            }
        },
        methods: {
            modalStatusChange: function (id) {
                this.modal.status = !this.modal.status;
                this.modal.id = id;
            },
            getDate(date, type) {
                date = new Date(date);

                let transformedDate = '';

                if (type.date) {
                    transformedDate = String(transformedDate)
                        + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
                        + '.'
                        + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                        + '.'
                        + String(date.getFullYear());
                }

                if (type.time) {
                    transformedDate = String(transformedDate)
                        + ' '
                        + String(String(date.getHours()) < 10 ? '0' + String(date.getHours()) : String(date.getHours()))
                        + ':'
                        + String(String(date.getMinutes()) < 10 ? '0' + String(date.getMinutes()) : String(date.getMinutes()));
                }

                if (type.month) {
                    const monthNames = [
                        "января",
                        "февраля",
                        "марта",
                        "апреля",
                        "мая",
                        "июня",
                        "июля",
                        "августа",
                        "сентября",
                        "октября",
                        "ноября",
                        "декабря"
                    ];

                    transformedDate = String(transformedDate)
                        + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
                        + ' '
                        + String(monthNames[date.getMonth()]);
                }

                return transformedDate;
            },
            resetFilter() {
              for (let queryIndex in this.$refs['custom-table'].$refs['table'].customQueries) {
                this.$refs['custom-table'].$refs['table'].customQueries[queryIndex] = '';
              }
            }
        },
        components: {
        },
        computed: {
            ...mapGetters([
              'contractHeadings',
              'columnsDisplay',
              'tableType',
            ]),
            allPayments() {
                this.data = this.$store.getters.allPayments;

                this.$store.dispatch('setContractHeadings', this.options.headings);

                return this.$store.getters.allPayments;
            },
        },
        mounted() {
            this.$store.dispatch('setTableType', 'payments').then(() => {
              if (!localStorage.hasOwnProperty(this.tableType + 'Filters')) {
                let storage = {};

                for (let contractFilter in this.contractHeadings) {
                  console.log('contractFilter', contractFilter);
                  // console.log('this.columnsDisplay[i]', this.columnsDisplay[i]);

                  if (this.columnsDisplay.indexOf(contractFilter) !== -1) {
                    storage[contractFilter] = true;
                  } else {
                    storage[contractFilter] = false;
                  }
                }

                localStorage[this.tableType + 'Filters'] = JSON.stringify(storage);

                this.localStorageLoading = true;
              } else {
                let localStorageObject = JSON.parse(localStorage[this.tableType + 'Filters']);

                for (let contractFilter in localStorageObject) {

                  // console.log('this.columnsDisplay[i]', this.columnsDisplay[i]);

                  if (!localStorageObject[contractFilter]) {
                    if (this.columnsDisplay.indexOf(contractFilter) !== -1) {
                      this.columnsDisplay.splice(this.columnsDisplay.indexOf(contractFilter), 1);
                    }
                  } else {
                    if (this.columnsDisplay.indexOf(contractFilter) === -1) {
                      this.columnsDisplay.push(contractFilter);
                    }
                  }
                }

                this.localStorageLoading = true;
              }
            });

            this.$store.dispatch('getAllPayments');
        }
    };
</script>

<style scoped>
</style>