<template>
    <div class="app_wrapper">
        <v-client-table
        v-if="receipts"
        :columns="columns"
        v-model="data"
        :options="options"
        ref="custom-table"
        >
          <div slot="receipts_sum" slot-scope="{row}">
            <div class="table-cell">
              <div
              class="table-cell__wrapper table-cell_debt table-cell_debt_active"
              >
                {{ row.receipts_sum }} руб.
              </div>
            </div>
          </div>

          <div slot="receipts_debt" slot-scope="{row}">
            <div class="table-cell">
              <div
              class="table-cell__wrapper table-cell_debt table-cell_debt_disable"
              >
                {{ row.receipts_debt }} руб.
              </div>
            </div>
          </div>

          <div slot="file" slot-scope="{row}">
            <div class="table-cell">
              <div class="table-cell__wrapper table-cell_file">
                <button
                type="button"
                class="button"
                @click="downloadPeriodData(row.receipts_type, row.receipts_period, row.receipts_items)"
                >Скачать</button>
              </div>
            </div>
          </div>
        </v-client-table>

        <div class="pdf__generated" style="width: 790px; position: fixed;right: 100%;top: 0; display: flex; flex-direction: column; align-items: center; justify-content: center;"></div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import JSZip from 'jszip';
    import { saveAs } from 'file-saver';
    import html2canvas from "html2canvas";
    import axios from "axios";

    export default {
        name: 'Receipts',
        data() {
            return {
                columns: [
                    "receipts_name",
                    "receipts_sum",
                    "receipts_debt",
                    "receipts_period",
                    "receipts_count",
                    'file'
                ],
                data: null,
                options: {
                    texts: {
                        count: "Showing {from} to {to} of {count} records|{count} records|One record",
                        first: "Первый",
                        last: "Последний",
                        filter: "Фильтр:",
                        filterPlaceholder: "Поисковое поле",
                        limit: "Записи:",
                        page: "Страница:",
                        noResults: "Нет записей",
                        filterBy: "Фильтр по {column}",
                        loading: "Загрузка...",
                        defaultOption: "Выбрать {column}",
                        columns: "Столбцы"
                    },
                    sortIcon: {
                        base : 'fa',
                        is: 'fa-sort',
                        up: 'fa-sort-asc',
                        down: 'fa-sort-desc'
                    },
                    headings: {
                        receipts_name: "Тип квитанций",
                        receipts_sum: 'Сумма',
                        receipts_debt: 'Долг',
                        receipts_period: 'Период',
                        receipts_count: 'Кол-во',
                        file: "Файл"
                    },
                    sortable: [
                      "receipts_name",
                      "receipts_sum",
                      "receipts_debt",
                      "receipts_period",
                      "receipts_count",
                    ],
                    resizableColumns: false
                },
                downloadProgress: [],
            }
        },
        methods: {
            getDate(date, type) {
                date = new Date(date);

                let transformedDate = '';

                if (type.date) {
                    transformedDate = String(transformedDate)
                        + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
                        + '.'
                        + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                        + '.'
                        + String(date.getFullYear());
                }

                if (type.time) {
                    transformedDate = String(transformedDate)
                        + ' '
                        + String(String(date.getHours()) < 10 ? '0' + String(date.getHours()) : String(date.getHours()))
                        + ':'
                        + String(String(date.getMinutes()) < 10 ? '0' + String(date.getMinutes()) : String(date.getMinutes()));
                }

                if (type.month) {
                    let monthNames = [
                        "января",
                        "февраля",
                        "марта",
                        "апреля",
                        "мая",
                        "июня",
                        "июля",
                        "августа",
                        "сентября",
                        "октября",
                        "ноября",
                        "декабря"
                    ];

                    transformedDate = String(transformedDate)
                        + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
                        + ' '
                        + String(monthNames[date.getMonth()]);
                }

                return transformedDate;
            },
            downloadPeriodData(type, period, items) {
                const contractWriteOffDay = 28;

                Object.size = function(obj) {
                    let size = 0, key;
                    for (key in obj) {
                        if (obj.hasOwnProperty(key)) size++;
                    }
                    return size;
                };

                function downloadArchive() {
                    let date = new Date();
                    let generatedDate = date.getDay() + "-" + date.getMonth() + "-" + date.getFullYear() + "_" + date.getHours() + "-" + date.getMinutes() + "-" + date.getSeconds();

                    zip.generateAsync({
                      type: "blob"
                    })
                    .then(function(content) {
                        saveAs(content, type + "_" + period + "_" + generatedDate + ".zip");
                    });
                }

                // ZIP
                let zip = new JSZip();

                let itemsIndex = 0;
                let itemsLength = Object.size(items);
                let itemsFiles = 0;
                let i = 0;

                const monthNames = [
                  {
                    fullMonth: "Январь",
                    caseMonth: "Января",
                  },
                  {
                    fullMonth: "Февраль",
                    caseMonth: "Февраля",
                  },
                  {
                    fullMonth: "Март",
                    caseMonth: "Марта",
                  },
                  {
                    fullMonth: "Апрель",
                    caseMonth: "Апреля",
                  },
                  {
                    fullMonth: "Май",
                    caseMonth: "Мая",
                  },
                  {
                    fullMonth: "Июнь",
                    caseMonth: "Июня",
                  },
                  {
                    fullMonth: "Июль",
                    caseMonth: "Июля",
                  },
                  {
                    fullMonth: "Август",
                    caseMonth: "Августа",
                  },
                  {
                    fullMonth: "Сентябрь",
                    caseMonth: "Сентября",
                  },
                  {
                    fullMonth: "Октябрь",
                    caseMonth: "Октября",
                  },
                  {
                    fullMonth: "Ноябрь",
                    caseMonth: "Ноября",
                  },
                  {
                    fullMonth: "Декабрь",
                    caseMonth: "Декабря",
                  }
                ];

                let receiptsGeneration = () => {
                    itemsIndex++;

                    let percent = i * 100 / (items.length - 1);

                    let groupElement = document.querySelector('.receipts__table tr[row-type="' + type + '"]');
                    groupElement.style.background = 'linear-gradient(to right, rgba(20, 63, 219, 0.1) ' + percent + '%, transparent 0%)';

                    let groupElementDownloadButton = document.querySelector('.receipts__table tr[row-type="' + type + '"] .table-cell_file button');
                    groupElementDownloadButton.setAttribute("disabled", "true");

                    let contractPeriod = items[i].contract_period;
                    contractPeriod = String(contractPeriod).match(/.{1,2}/g);
                    contractPeriod = new Date('20' + contractPeriod[1] + '-' + contractPeriod[0] + '-' + contractWriteOffDay);

                    if (items[i].contract_status === 2) {
                      if (contractPeriod.getMonth() === 11) {
                        contractPeriod = new Date(contractPeriod.getFullYear() + 1, 0, 28);
                      } else {
                        contractPeriod = new Date(contractPeriod.getFullYear(), contractPeriod.getMonth() + 1, 28);
                      }
                    } else {
                      // if (contractPeriod.getMonth() === 11) {
                      //   contractPeriod = new Date(contractPeriod.getFullYear() + 1, 0, 20);
                      // } else {
                      //   contractPeriod = new Date(contractPeriod.getFullYear(), contractPeriod.getMonth(), 20);
                      // }

                        contractPeriod = new Date(contractPeriod.getFullYear(), contractPeriod.getMonth(), 28);
                    }

                    contractPeriod = String((contractPeriod.getMonth() + 1) < 10 ? '0' + (contractPeriod.getMonth() + 1) : contractPeriod.getMonth() + 1 ) + String(contractPeriod.getFullYear()).substr(2);

                    let contractPeriodTransformed = String(contractPeriod).match(/.{1,2}/g);
                    contractPeriodTransformed = {
                      day: contractWriteOffDay,
                      month: monthNames[Number(contractPeriodTransformed[0]) - 1],
                    };

                    let customerName = items[i].contract_customer_surname
                        + " "
                        + items[i].contract_customer_name
                        + " "
                        + items[i].contract_patronymic;

                    // let customerFullAddress = items[i].contract_customer_region
                    //     + ", "
                    //     + items[i].contract_customer_locality
                    //     + ", "
                    //     + items[i].contract_customer_street
                    //     + ", "
                    //     + items[i].contract_customer_house_number
                    //     + (items[i].contract_customer_type_of_room != null ? ", " + items[i].contract_customer_type_of_room : '');

                    let contractPrice = items[i].contract_tariff;

                    if (items[i].contract_status === 2) {
                      contractPrice = contractPrice * 2;
                    }

                    if (Math.sign(parseFloat(String(items[i].contract_debt).replace(/,/, '.'))) !== -1 && parseFloat(String(items[i].contract_debt).replace(/,/, '.')) < contractPrice) {
                      contractPrice = parseFloat(String(items[i].contract_debt).replace(/,/, '.')) - contractPrice;

                      contractPrice = Math.abs(contractPrice);
                    } else if (Math.sign(parseFloat(String(items[i].contract_debt).replace(/,/, '.'))) !== -1 && parseFloat(String(items[i].contract_debt).replace(/,/, '.')) >= contractPrice) {
                      contractPrice = 0;
                    }

                    contractPrice = {
                      price: contractPrice,
                    }

                    contractPrice.full_price = String(contractPrice.price).split('.');
                    contractPrice.full_price = String(contractPrice.full_price[0])
                        + ' руб. '
                        + (contractPrice.full_price[1] != null ? contractPrice.full_price[1] : '00')
                        + ' коп.';

                    let contractDebt = {
                        price: Math.sign(items[i].contract_debt) === -1 ? Math.abs(items[i].contract_debt) : 0,
                    };

                    contractDebt.full_price = String(contractDebt.price).split('.');
                    contractDebt.full_price = String(contractDebt.full_price[0])
                        + ' руб. '
                        + (contractDebt.full_price[1] != null ? contractDebt.full_price[1] : '00')
                        + ' коп.';

                    let contractTotalPrice = {
                      price: contractPrice.price + Math.abs(contractDebt.price),
                    };

                    contractTotalPrice.full_price = String(contractTotalPrice.price).split('.');
                    contractTotalPrice.full_price = String(contractTotalPrice.full_price[0])
                        + ' руб. '
                        + (contractTotalPrice.full_price[1] != null ? contractTotalPrice.full_price[1] : '00')
                        + ' коп.';

                    let contract_district = '';
                    if (items[i].contract_district) {
                        contract_district = 'р-н ' + items[i].contract_district + ', ';
                    }

                    axios.get('https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl=ST00011|Name=%D0%98%D0%9F%20%D0%9A%D1%83%D0%B4%D0%B5%D0%BB%D0%B8%D0%BD%20%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9%20%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%BE%D0%B2%D0%B8%D1%87|PersonalAcc=40802810952090092979|BankName=%D0%AE%D0%93%D0%9E-%D0%97%D0%90%D0%9F%D0%90%D0%94%D0%9D%D0%AB%D0%99%20%D0%91%D0%90%D0%9D%D0%9A%20%D0%9F%D0%90%D0%9E%20%D0%A1%D0%91%D0%95%D0%A0%D0%91%D0%90%D0%9D%D0%9A%20%D0%B3.%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2-%D0%BD%D0%B0-%D0%94%D0%BE%D0%BD%D1%83|BIC=046015602|CorrespAcc=30101810600000000602|PersAcc=' + items[i].contract_number, {
                        responseType: 'arraybuffer'
                    }).then(res => {
                        let element = document.createElement('div');
                        element.classList.add('pdf-layout');
                        element.height = 1335;
                        element.setAttribute('style', "height: 1335px;position: absolute; top: 0; right: 0; left: 0; margin: 0 auto; padding: 16px 27px; font-weight: 500; width: 790px; background-color: #fff; font-family: \'Times New Roman\';");
                        element.innerHTML = '<div class="pdf__logo" style="display: flex; justify-content: center; width: 130px; margin: 0 auto; margin-bottom: 10px;">' +
                                                '<img src="../../images/pdf-logo.jpg" alt="" style="width: 100%;">' +
                                              '</div>' +
                                              '<div class="pdf__wrapper" style="border: 4px solid #000;">' +
                                                '<div class="pdf__block" style="display: flex;border-bottom: 4px solid #000;">' +
                                                  '<div class="pdf__block_left" style="padding: 10px 20px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 20%; border-right: 4px solid #000; text-align: center;">' +
                                                    '<div class="pdf__title pdf_bold" style="font-size: 14px;font-weight: 600;">Извещание</div>' +
                                                    '<div class="pdf_code" style="width: calc(100% + 30px); justify-self: flex-start; margin-bottom: auto;">' +
                                                      '<img src="' + this.imageEncode(res.data) + '" alt="" style="width: 100%;">' +
                                                    '</div>' +
                                                  '<div class="pdf__title pdf_bold" style="font-size: 14px;font-weight: 600;">Кассир</div>' +
                                                '</div>' +
                                                '<div class="pdf__block_right" style="width: 80%; padding: 10px 0 20px; flex-grow: 1;">' +
                                                  '<div class="pdf__fields" style="display: flex; flex-wrap: wrap; justify-content: space-between;margin-bottom: 10px;">' +
                                                    '<div class="pdf__field pdf__payee-name" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px; width: 100%;">' +
                                                      '<div class="pdf__text" style="font-weight: 600;border-bottom: 2px solid #000; text-align: center;"> ИП Куделин Сергей Александрович</div>' +
                                                      '<div class="pdf__text__desc" style="text-align: center;">(наименование получателя платежа)</div>' +
                                                    '</div>' +
                                                  '</div>' +
                                                  '<div class="pdf__fields" style="display: flex; flex-wrap: wrap; justify-content: space-between;margin-bottom: 10px;margin-left: 20px; margin-right: 20px;">' +
                                                    '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                    '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> 615428645083</div>' +
                                                    '<div class="pdf__text__desc" style="text-align: center;">(ИНН получателя платежа)</div>' +
                                                  '</div>' +
                                                  '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                    '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> 40802810952090092979</div>' +
                                                    '<div class="pdf__text__desc" style="text-align: center;">(номер счета получателя платежа)</div>' +
                                                  '</div>' +
                                                  '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                    '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> ЮГО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК г. Ростов-на-дону</div>' +
                                                    '<div class="pdf__text__desc" style="text-align: center;">(наименование банка получателя платежа)</div>' +
                                                  '</div>' +
                                                  '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                    '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> 046015602</div>' +
                                                    '<div class="pdf__text__desc">(БИК)</div>' +
                                                  '</div>' +
                                                  '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                  '</div>' +
                                                  '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                    '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> 30101810600000000602</div>' +
                                                    '<div class="pdf__text__desc" style="text-align: center;">(номер кор./сч. банка получателя платежа)</div>' +
                                                  '</div>' +
                                                  '<div class="pdf__field" style="display: flex; justify-content: flex-start; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                    '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> Оплата за услуги</div>' +
                                                    '<div class="pdf__text__desc" style="text-align: center;">(наименование платежа)</div>' +
                                                  '</div>' +
                                                  '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                    '<div class="pdf__text pdf_bold" style="border-bottom: 2px solid #000; text-align: center;font-weight: 600;">' + items[i].contract_number + '</div>' +
                                                    '<div class="pdf__text__desc" style="text-align: center;">(номер лицевого счета (код) плательщика)</div>' +
                                                  '</div>' +
                                                '</div>' +
                                                '<div class="pdf__fields" style="display: flex; flex-wrap: wrap; justify-content: space-between;margin-bottom: 10px;margin-left: 20px; margin-right: 20px;">' +
                                                  '<div class="pdf__field pdf__field_full pdf__field_row" style="display: flex; justify-content: center; flex-direction: column; width: 45%;flex-direction: row;width: 100%; justify-content: flex-start;margin-bottom: 10px;">' +
                                                  '<div class="pdf__title" style="width: 30%;">Ф.И.О. плательщика:</div>' +
                                                  '<div class="pdf__text pdf_bold" style="flex-grow: 1;border-bottom: 2px solid #000; text-align: center;font-weight: 600;">' + customerName + '</div>' +
                                                '</div>' +
                                                '<div class="pdf__field pdf__field_full pdf__field_row" style="display: flex; justify-content: center; flex-direction: column; width: 45%;flex-direction: row;width: 100%; justify-content: flex-start;margin-bottom: 10px;">' +
                                                  '<div class="pdf__title" style="width: 30%;">Адрес плательщика:</div>' +
                                                  '<div class="pdf__text pdf_bold" style="flex-grow: 1;border-bottom: 2px solid #000; text-align: center;font-weight: 600;">' + contract_district + items[i].contract_customer_full_address + '</div>' +
                                                '</div>' +
                                              '</div>' +
                                              '<div class="pdf__fields pdf__fields_space-between pdf__fields_direction" style="height: 60px; display: flex; flex-wrap: wrap; justify-content: space-between;flex-direction: column;margin-bottom: 10px;margin-left: 20px; margin-right: 20px;">' +
                                                '<div class="pdf__field pdf__field_row" style="display: flex; justify-content: flex-start; flex-direction: column; width: 65%;flex-direction: row;margin-bottom: 10px;">' +
                                                  '<div class="pdf__title">К оплате за ' + contractPeriodTransformed.month.fullMonth + ': </div>' +
                                                  '<div class="pdf__title">' + contractPrice.full_price + '</div>' +
                                                '</div>' +
                                                '<div class="pdf__field pdf__field_row" style="display: flex; justify-content: flex-start; flex-direction: column; width: 50%;flex-direction: row;margin-bottom: 10px;">' +
                                                  '<div class="pdf__title">Задолженность: </div>' +
                                                  '<div class="pdf__title">' + contractDebt.full_price + '</div>' +
                                                '</div>' +
                                                '<div class="pdf__field pdf__field_row" style="justify-content: flex-end;margin-right: 25px;display: flex; flex-direction: column; width: 35%;flex-direction: row;">' +
                                                  '<div class="pdf__title">Период оплаты: </div>' +
                                                  '<div class="pdf__title">' + contractPeriod + '</div>' +
                                                '</div>' +
                                              '</div>' +
                                              '<div class="pdf__title pdf__total pdf_bold" style="font-size: 17px; text-align: center;font-weight: 600;"> Итого к оплате: ' + contractTotalPrice.full_price + '</div>' +
                                            '</div>' +
                                          '</div>' +
                                          '<div class="pdf__block">' +
                                            '<div class="pdf__block_left" style="padding: 10px 20px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 20%; border-right: 4px solid #000; text-align: center;justify-content: flex-end">' +
                                              '<div class="pdf__title pdf_bold" style="white-space: break-spaces;font-weight: 600;">Квитанция<br>Кассир</div>' +
                                            '</div>' +
                                            '<div class="pdf__block_right">' +
                                              '<div class="pdf__fields" style="display: flex; flex-wrap: wrap; justify-content: space-between;margin-bottom: 10px;">' +
                                                '<div class="pdf__field pdf__payee-name" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;margin-bottom: 10px; width: 100%;">' +
                                                  '<div class="pdf__text" style="font-weight: 600;border-bottom: 2px solid #000; text-align: center;"> ИП Куделин Сергей Александрович</div>' +
                                                  '<div class="pdf__text__desc" style="text-align: center;">(наименование получателя платежа)</div>' +
                                                '</div>' +
                                              '</div>' +
                                              '<div class="pdf__fields" style="display: flex; flex-wrap: wrap; justify-content: space-between;margin-bottom: 10px;margin-left: 20px; margin-right: 20px;">' +
                                                '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                  '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> 615428645083</div>' +
                                                  '<div class="pdf__text__desc" style="text-align: center;">(ИНН получателя платежа)</div>' +
                                                '</div>' +
                                                '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                  '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> 40802810952090092979</div>' +
                                                  '<div class="pdf__text__desc" style="text-align: center;">(номер счета получателя платежа)</div>' +
                                                '</div>' +
                                                '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> ЮГО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК г. Ростов-на-дону</div>' +
                                                '<div class="pdf__text__desc" style="text-align: center;">(наименование банка получателя платежа)</div>' +
                                              '</div>' +
                                              '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> 046015602</div>' +
                                                  '<div class="pdf__text__desc" style="text-align: center;">(БИК)</div>' +
                                                '</div>' +
                                                '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                '</div>' +
                                                '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                  '<div class="pdf__text"> 30101810600000000602</div>' +
                                                  '<div class="pdf__text__desc" style="text-align: center;">(номер кор./сч. банка получателя платежа)</div>' +
                                                '</div>' +
                                                '<div class="pdf__field" style="display: flex; justify-content: flex-start; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                  '<div class="pdf__text" style="border-bottom: 2px solid #000; text-align: center;"> Оплата за услуги</div>' +
                                                  '<div class="pdf__text__desc" style="text-align: center;">(наименование платежа)</div>' +
                                                '</div>' +
                                                '<div class="pdf__field" style="display: flex; justify-content: center; flex-direction: column; width: 45%;margin-bottom: 10px;">' +
                                                  '<div class="pdf__text pdf_bold" style="border-bottom: 2px solid #000; text-align: center;font-weight: 600;">' + items[i].contract_number + '</div>' +
                                                  '<div class="pdf__text__desc" style="text-align: center;">(номер лицевого счета (код) плательщика)</div>' +
                                                '</div>' +
                                              '</div>' +
                                              '<div class="pdf__fields" style="display: flex; flex-wrap: wrap; justify-content: space-between;margin-bottom: 10px;margin-left: 20px; margin-right: 20px;">' +
                                                '<div class="pdf__field pdf__field_full pdf__field_row" style="display: flex; justify-content: center; flex-direction: column; width: 45%;flex-direction: row;width: 100%; justify-content: flex-start;margin-bottom: 10px;">' +
                                                  '<div class="pdf__title" style="width: 30%;white-space: break-spaces;">Ф.И.О. плательщика:</div>' +
                                                  '<div class="pdf__text pdf_bold" style="flex-grow: 1;border-bottom: 2px solid #000; text-align: center;font-weight: 600;">' + customerName + '</div>' +
                                                '</div>' +
                                                '<div class="pdf__field pdf__field_full pdf__field_row" style="display: flex; justify-content: center; flex-direction: column; width: 45%;flex-direction: row;width: 100%; justify-content: flex-start;margin-bottom: 10px;">' +
                                                  '<div class="pdf__title" style="width: 30%;white-space: break-spaces;">Адрес плательщика:</div>' +
                                                  '<div class="pdf__text pdf_bold" style="flex-grow: 1;border-bottom: 2px solid #000; text-align: center;">' + contract_district + items[i].contract_customer_full_address + '</div>' +
                                                '</div>' +
                                              '</div>' +
                                              '<div class="pdf__fields pdf__fields_space-between pdf__fields_direction" style="height: 60px; display: flex; flex-wrap: wrap; justify-content: space-between;flex-direction: column;margin-left: 20px; margin-right: 20px;">' +
                                              '<div class="pdf__field pdf__field_row" style="justify-content: flex-start;display: flex; flex-direction: column; width: 65%;flex-direction: row;margin-bottom: 10px;">' +
                                              '<div class="pdf__title" style="white-space: break-spaces;">К оплате за ' + contractPeriodTransformed.month.fullMonth + ': </div>' +
                                              '<div class="pdf__title" style="white-space: break-spaces;">' + contractPrice.full_price + '</div>' +
                                            '</div>' +
                                            '<div class="pdf__field pdf__field_row" style="justify-content: flex-start;display: flex; flex-direction: column; width: 50%;flex-direction: row;margin-bottom: 10px;">' +
                                            '<div class="pdf__title" style="white-space: break-spaces;">Задолженность: </div>' +
                                            '<div class="pdf__title" style="white-space: break-spaces;">' + contractDebt.full_price + '</div>' +
                                          '</div>' +
                                          '<div class="pdf__field pdf__field_row" style="justify-content: flex-end;display: flex; flex-direction: column; width: 35%;flex-direction: row;margin-bottom: 10px;">' +
                                            '<div class="pdf__title" style="white-space: break-spaces;">Период оплаты: </div>' +
                                            '<div class="pdf__title" style="white-space: break-spaces;">' + contractPeriod + '</div>' +
                                          '</div>' +
                                        '</div>' +
                                        '<div class="pdf__title pdf__total pdf_bold" style="font-size: 17px; text-align: center;white-space: break-spaces;font-weight: 600;"> Итого к оплате: ' + contractTotalPrice.full_price + '</div>' +
                                      '</div>' +
                                    '</div>' +
                                  '</div>' +
                                  '<div class="pdf__title pdf__warning pdf_bold" style="white-space: break-spaces;font-weight: 600;text-align: center; font-size: 28px; margin-top: 20px;"> Оплату необходимо внести до ' + contractPeriodTransformed.day + " " + contractPeriodTransformed.month.caseMonth + ' </div>';
                        document.querySelector('.pdf__generated').append(element);

                        html2canvas(element, {
                          windowWidth: 790,
                          windowHeight: 1170,
                          width: 790,
                          height: 1170,
                          scrollX: 0,
                          scrollY: 0
                        }).then(canvas => {
                          let imageCode = canvas.toDataURL('image/png');

                          fetch(imageCode)
                              .then(res => res.blob())
                              .then(blob => {
                                let file = new File([blob], "",{
                                  type: "image/png"
                                });

                                // ZIP
                                zip.file(items[i].contract_number + ".png", file);

                                itemsFiles++;

                                if (i < items.length - 1) {
                                  i++;

                                  receiptsGeneration();
                                }

                                if (itemsFiles >= itemsLength) {
                                  downloadArchive();

                                  // document.querySelector('.pdf__generated').innerHTML = '';
                                  groupElementDownloadButton.removeAttribute("disabled");
                                }
                              })
                        })
                    }).catch(err => {
                        console.log(err);
                    })
                }

                receiptsGeneration();
            },
            imageEncode (arrayBuffer) {
                let b64encoded = btoa([].reduce.call(new Uint8Array(arrayBuffer), function(p, c) {
                  return p+String.fromCharCode(c);
                }, ''));
                let mimetype="image/jpeg";

                return "data:" + mimetype + ";base64," + b64encoded;
            }
        },
        components: {
        },
        computed: {
            ...mapGetters([
              'contractHeadings',
              'columnsDisplay',
              'tableType',
            ]),
            receipts() {
                this.data = this.$store.getters.receipts[0];

                return this.$store.getters.receipts[0];
            },
        },
        mounted() {
            this.$store.dispatch('setTableType', 'receipts').then(() => {
              if (!localStorage.hasOwnProperty(this.tableType + 'Filters')) {
                let storage = {};

                for (let contractFilter in this.contractHeadings) {
                  console.log('contractFilter', contractFilter);
                  // console.log('this.columnsDisplay[i]', this.columnsDisplay[i]);

                  if (this.columnsDisplay.indexOf(contractFilter) !== -1) {
                    storage[contractFilter] = true;
                  } else {
                    storage[contractFilter] = false;
                  }
                }

                localStorage[this.tableType + 'Filters'] = JSON.stringify(storage);

                this.localStorageLoading = true;
              } else {
                let localStorageObject = JSON.parse(localStorage[this.tableType + 'Filters']);

                for (let contractFilter in localStorageObject) {

                  // console.log('this.columnsDisplay[i]', this.columnsDisplay[i]);

                  if (!localStorageObject[contractFilter]) {
                    console.log('1 contractFilter, localStorageObject[contractFilter], this.columnsDisplay.indexOf(contractFilter)', contractFilter, localStorageObject[contractFilter], this.columnsDisplay.indexOf(contractFilter));
                    if (this.columnsDisplay.indexOf(contractFilter) !== -1) {
                      this.columnsDisplay.splice(this.columnsDisplay.indexOf(contractFilter), 1);
                    }
                  } else {
                    console.log('2 contractFilter, localStorageObject[contractFilter], this.columnsDisplay.indexOf(contractFilter)', contractFilter, localStorageObject[contractFilter], this.columnsDisplay.indexOf(contractFilter));
                    if (this.columnsDisplay.indexOf(contractFilter) === -1) {
                      this.columnsDisplay.push(contractFilter);
                    }
                  }
                }

                this.localStorageLoading = true;
              }
            });
            this.$store.dispatch('receiptsGet');
        }
    };
</script>

<style scoped>
</style>