<template>
    <div :class="`VueTables VueTables--${props.source} ${tableType}__table`" slot-scope="props">
        <div :class="props.theme.row">
            <div
            class="table__header content-block__header"
            :class="props.theme.column"
            >
                <div class="title__wrapper">
                    <div
                    class="title title_large"
                    v-if="tableType === 'billing'"
                    >Биллинг</div>

                    <div
                    class="title title_large"
                    v-if="tableType === 'payments'"
                    >Платежи</div>

                    <div
                    class="title title_large"
                    v-if="tableType === 'receipts'"
                    >Квитанции</div>
                </div>

                <div
                v-if="!props.opts.filterByColumn && props.opts.filterable"
                :class="`${props.theme.field} ${props.theme.inline} ${props.theme.left} VueTables__search`"
                >
                    <vnodes :vnodes="props.slots.beforeFilter"/>
                    <vt-generic-filter/>
                    <vnodes :vnodes="props.slots.afterFilter"/>
                </div>
                <vnodes :vnodes="props.slots.afterFilterWrapper"/>

                <button
                type="button"
                class="button button_pink payments__button_import"
                v-if="tableType === 'payments'"
                @click="modal.state = !modal.state"
                >Импорт</button>

                <button
                class="button payments__button_export"
                v-if="tableType === 'payments'"
                @click="exportBalance()"
                >Экспорт</button>

                <a
                href="/contract/add"
                class="button"
                v-if="tableType === 'billing'"
                >Добавить</a>

                <div class="VueTables__pagination-wrapper" v-if="props.opts.pagination.dropdown && props.totalPages > 1">
                    <div :class="`${props.theme.field} ${props.theme.inline} ${props.theme.right} VueTables__dropdown-pagination`">
                        <vt-dropdown-pagination/>
                    </div>
                </div>

                <div v-if="props.opts.columnsDropdown"
                     :class="`VueTables__columns-dropdown-wrapper ${props.theme.right} ${props.theme.dropdown.container}`">
                    <vt-columns-dropdown/>
                </div>
            </div>
        </div>

        <vnodes :vnodes="props.slots.beforeTable"/>
        <div class="content-block">
            <div class="table__wrapper">
                <div
                class="table__scroll-arrow table__scroll-arrow_left active"
                ref="table-scroll-left"
                @mousemove="tableScrollData.type = 'left'; tableScroll($event)"
                @mouseleave="tableScrollData.speed = 0"
                ></div>

                <div
                class="table-responsive"
                ref="table-wrapper"
                >
                    <vt-table ref="vt_table"/>
                </div>

                <div
                class="table__scroll-arrow table__scroll-arrow_right active"
                ref="table-scroll-right"
                @mousemove="tableScrollData.type = 'right'; tableScroll($event)"
                @mouseleave="tableScrollData.speed = 0"
                ></div>
            </div>

            <div class="table__footer">
                <vt-pagination/>

<!--                <div class="table__show-more">Показать еще</div>-->

                <div v-if="props.perPageValues.length > 1"
                :class="`${props.theme.field} ${props.theme.inline} ${props.theme.right} VueTables__limit`"
                >
                    <vnodes :vnodes="props.slots.beforeLimit"/>
                    <vt-per-page-selector/>
                    <vnodes :vnodes="props.slots.afterLimit"/>
                </div>
            </div>
        </div>
        <vnodes :vnodes="props.slots.afterTable"/>

        <div
        class="modal payments__modal"
        :class="{active: modal.state}"
        >
            <div class="modal__wrapper">
                <form
                action=""
                class="form content-block"
                ref="payments-import"
                @submit.prevent="submitImportPayments"
                v-if="tableType === 'payments'"
                >
                    <div class="title__wrapper">
                        <div class="title title_medium">
                            Загрузка платежей
                        </div>
                    </div>

                    <div class="form__fields">
                        <div class="form__field">
                            <div class="title__wrapper">
                                <div class="title title_small">Файл (.txt)</div>
                            </div>

                            <input
                            type="file"
                            accept=".txt"
                            @change="paymentsImport"
                            >
                        </div>
                    </div>

                    <button
                    type="submit"
                    class="button"
                    :disabled="!modal.validate"
                    >Загрузить</button>

                    <div
                    class="payments__import_success"
                    v-if="Object.keys(importPaymentsTotal).length > 0"
                    >
                        <div class="title__wrapper">
                            <div class="title title_medium">
                                Итог
                            </div>
                        </div>

                        <div class="payments__import_success__items">
                            <div class="payments__import_success__item contracted_payments">
                                <div class="payments__import_success__item__title">Платежи с существующими договорами: </div>
                                <div class="payments__import_success__item__content">{{importPaymentsTotal.contracted_payments}}</div>
                            </div>
                            <div class="payments__import_success__item non_contractual_payments">
                                <div class="payments__import_success__item__title">Платежи с несуществующими договорами: </div>
                                <div class="payments__import_success__item__content">{{importPaymentsTotal.non_contractual_payments}}</div>
                            </div>
                            <div class="payments__import_success__item existing_payments">
                              <div class="payments__import_success__item__title">Существующие платежи (не загружены): </div>
                              <div class="payments__import_success__item__content">{{importPaymentsTotal.existing_payments}}</div>
                            </div>
                            <div class="payments__import_success__item payments_total">
                                <div class="payments__import_success__item__title">Всего загружено платежей: </div>
                                <div class="payments__import_success__item__content">{{importPaymentsTotal.payments_total}}</div>
                            </div>
                        </div>
                    </div>
                </form>

                <div
                class="overlay"
                @click="modal.state = !modal.state"
                ></div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import VtColumnsDropdown from 'vue-tables-2/compiled/components/VtColumnsDropdown';
    import VtDropdownPagination from 'vue-tables-2/compiled/components/VtDropdownPagination';
    import VtGenericFilter from 'vue-tables-2/compiled/components/VtGenericFilter';
    import VtPerPageSelector from 'vue-tables-2/compiled/components/VtPerPageSelector';
    import VtTable from 'vue-tables-2/compiled/components/VtTable';
    import VtPagination from 'vue-tables-2/compiled/components/VtPagination';
    import axios from "axios";

    export default {
        name: "VtDataTable",
        props: ['props'],
        components: {
            VtGenericFilter,
            VtPerPageSelector,
            VtColumnsDropdown,
            VtDropdownPagination,
            VtTable,
            VtPagination,
            vnodes: {
                functional: true,
                render: (h, ctx) => ctx.props.vnodes
            }
        },
        data() {
            return {
                paymentRecords: null,
                tableScrollData: {
                    speed: 0,
                },
                modal: {
                    state: false,
                    validate: false
                }
            }
        },
        methods: {
            updateScroll() {
                if (this.tableScrollData.speed !== 0) {
                    if (this.tableScrollData.type === 'left') {
                        this.$refs['table-wrapper'].scrollLeft = this.$refs['table-wrapper'].scrollLeft - 10;
                    }

                    if (this.tableScrollData.type === 'right') {
                        this.$refs['table-wrapper'].scrollLeft = this.$refs['table-wrapper'].scrollLeft + 10;
                    }
                }

                window.requestAnimationFrame(this.updateScroll);
            },
            tableScroll() {
                this.tableScrollData.speed = 30;
            },
            submitImportPayments(e) {
                this.$store.dispatch('setImportPaymentsTotal', {}).then(() => {
                  this.modal.validate = false;

                  this.$store.dispatch('importPayments', {
                    payments: JSON.stringify(this.paymentRecords)
                  }).then(() => {
                    // this.modal.state = false;
                    this.modal.validate = false;
                    this.$refs['payments-import'].reset();
                    this.$store.dispatch('getAllPayments');
                  });
                });
            },
            paymentsImport(event) {
                let file = event.target.files[0];

                if (file && file.type === 'text/plain') {
                    this.modal.validate = true;

                    let fileReader = new FileReader();

                    fileReader.onload = (event) => {
                        // let contents = event.target.result;
                        let result = fileReader.result;
                        let words = result.split("\n");

                        // Удаляем элемент "Итог" и пустой элемент
                        // words.splice(words.length - 2, 2);

                        for (let i = 0; i < words.length; i++) {
                            let wordTransformed = {};
                            let wordFormatted = words[i].split(';');

                            if (wordFormatted.length > 1) {
                              let date = wordFormatted[0].split('-');
                              let wordDate = date[2] + '-' + date[1] + '-' + date[0] + ' ' +  wordFormatted[1].replace(/[\-\/]/g,':');

                              wordTransformed['payment_name'] = 'Пополнение баланса';
                              wordTransformed['payment_type'] = 'Сбербанк квитанция';
                              wordTransformed['payment_date'] = wordDate;
                              wordTransformed['contract_number'] = wordFormatted[5];
                              wordTransformed['payment_customer_name'] = wordFormatted[6];
                              wordTransformed['payment_period'] = wordFormatted[8];
                              wordTransformed['payment_price'] = wordFormatted[9].replace(/,/, '.');

                              words[i] = wordTransformed;
                            }
                        }

                        this.paymentRecords = words;
                    }

                    fileReader.readAsText(file);
                } else {
                    this.modal.validate = false;
                }
            },
            tableSize() {
                let tableResponsiveWidth = this.$refs['table-wrapper'].offsetWidth;
                let tableResponsivePadding = parseInt(window.getComputedStyle(document.querySelector('.VueTables .table-responsive th:first-child'), null).getPropertyValue("padding-left").match(/\d+/));

                document.querySelector('.VueTables .table-responsive .table .table__modal').setAttribute("style", "width:" + String(tableResponsiveWidth - (tableResponsivePadding * 2)) + "px;");
            },
            exportBalance() {
                axios.get(`/api/balance/export`, {
                  responseType: 'blob'
                })
                .then(response => {
                  const url = window.URL.createObjectURL(new Blob([response.data]));
                  const link = document.createElement('a');
                  link.href = url;
                  link.setAttribute('download', 'balance.txt'); //or any other extension
                  document.body.appendChild(link);
                  link.click();
                }).catch(err => {
                  console.log(err);
                })
            }
        },
        computed: {
            ...mapGetters([
                'importPaymentsTotal',
                'tableType',
            ]),
        },
        mounted() {
            if (this.tableType !== 'receipts') {
                this.tableSize();

                window.addEventListener('resize', () => {
                    this.tableSize();
                });
            }

            window.requestAnimationFrame(this.updateScroll);
        }
    }
</script>