<template>
  <div
  class="table__search"
  >
    <div class="VueTables__search-field">
      <input
      :class="`VueTables__search__input ${props.theme.input} ${props.theme.small}`"
      type="text"
      placeholder="Фильтр + поиск"
      @keyup="e=>props.search(props.opts.debounce)(e)"
      :id="`VueTables__search_${props.id}`"
      autocomplete="off"
      @click="tableType !== 'receipts' ? searchModal.state = !searchModal.state : false"
      />

      <img src="../../../images/table/table-search.svg" alt="">

      <div
      class="content-block modal search__modal"
      :class="{'active': searchModal.state}"
      v-if="filtersDisplay[tableType] && searchModal.state"
      >
        <div class="modal__wrapper">
<!--          <div class="modal__header">-->
<!--            <div class="title__wrapper">-->
<!--              <div class="title title_large-medium">-->
<!--                Фильтр-->
<!--              </div>-->

<!--              <div-->
<!--                  class="cancel"-->
<!--                  @click="searchModal.state = false"-->
<!--              ></div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="table__search__modal__body">
            <div class="table__search__modal__items">
              <div class="form__fields">
                <div
                class="form__field"
                v-for="(filter, index) in filtersDisplay[tableType]"
                :key="index"
                v-if="filter"
                >
                  <div class="title__wrapper">
                    <div class="title title_small">{{ contractHeadings[index] }}</div>
                  </div>

                  <div class="form__field_input">
                    <vc-date-picker
                    v-if="index === 'contract_date' || index === 'contract_customer_birthday' || index === 'contract_customer_passport_date_of_issue' || index === 'payment_date'"
                    v-model="modelFields[index]"
                    :input-props="{
                      name: index,
                      autocomplete: 'off'
                    }"
                    :popover="{ placement: 'bottom', visibility: 'click' }"
                    @input="applyDate(tableType === 'billing' ? 'contract' : 'payment', $event, index)"
                    />

                    <vue-dadata
                    v-else-if="index === 'contract_customer_full_address'"
                    token="0ab771eeb1deb0e106521db5eeae52ced9c08676"
                    :inputName="index"
                    :query="modelFields[index]"
                    autocomplete="nope"
                    :onChange="applyAddress"
                    ></vue-dadata>

                    <select
                    v-else-if="selects[index]"
                    class="form-control"
                    :name="index"
                    @input="updateLocalFilters($event)"
                    >
                      <option disabled selected hidden value=''>
                        Не указан
                      </option>

                      <option
                      v-for="(template, selectIndex) in selects[index].properties"
                      :key="selectIndex"
                      :value="template"
                      :selected="selects[index] != null ? template == localDataFilters[index] : ''"
                      >
                        {{ template }}
                      </option>
                    </select>

                    <input
                    v-else
                    type="text"
                    :name="index"
                    v-model="modelFields[index]"
                    @input="updateLocalFilters($event)"
                    >

                    <div
                    class="cancel"
                    @click="clearFilter(index)"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="table__search__modal__add-field">
              <div
              class="button button_link"
              @click="searchAddFieldModal.state = !searchAddFieldModal.state"
              >
                Добавить поле
              </div>

              <div
              class="table__search__modal__fields__modal"
              v-if="searchAddFieldModal.state"
              >
                <div
                class="table__search__modal__field"
                v-for="(filter, index) in contractHeadings"
                :key="index"
                v-if="filter && index !== 'editing'"
                >
                  <input
                  v-model="filtersDisplay[tableType][index]"
                  type="checkbox"
                  :id="index"
                  :name="index"
                  @click="columnFilter(index)"
                  >
                  <label
                  class="label"
                  :for="index"
                  >
                    {{ filter }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="table__search__modal__actions">
            <button
            type="button"
            class="button"
            @click="applyFilter"
            >
              Найти
            </button>
            <button
            type="button"
            class="button button_pink"
            @click="resetFilter"
            >
              Сбросить
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
        class="overlay overlay_transparent"
        v-show="searchModal.state"
        @click="searchModal.state = false; searchAddFieldModal.state = false"
    ></div>
  </div>
</template>

<script>
    import VueDadata from 'vue-dadata';
    import { Event } from "vue-tables-2";
    import { mapGetters } from "vuex";

    export default {
        name: "MyGenericFilter",
        props: ['props'],
        components: {
          'vue-dadata': VueDadata
        },
        data () {
          return {
            localStorage: {},
            selects: {},
            searchModal: {
              state: false,
            },
            searchAddFieldModal: {
              state: false,
            },
            localDataFilters: {},
            modelFields: {
              contract_number: null,
              contract_date: null,
              contract_debt: 0,
              contract_phone: null,
              contract_renewal_date: null,
              contract_tariff: 870,
              contract_period: null,
              contract_speed: null,
              user_password: null,
              contract_customer_surname: null,
              contract_customer_name: null,
              contract_patronymic: null,
              contract_customer_phone: null,
              contract_customer_second_phone: null,
              contract_customer_email: null,
              contract_customer_full_address: null,
              // contract_customer_street: null,
              // contract_customer_region: null,
              // contract_customer_area: null,
              // contract_customer_locality: null,
              // contract_customer_house_number: null,
              // contract_customer_type_of_room: null,
              contract_customer_passport_series: null,
              contract_customer_passport_number: null,
              contract_customer_passport_code: null,
              contract_customer_passport_issued_by: null,
              contract_customer_passport_registration_address: null,
              contract_comment_one: null,
              contract_comment_two: null,
              contract_price: null,
              contract_installer: null,
              contract_customer_passport_date_of_issue: null,
              contract_customer_birthday: null,
            },
          }
        },
        methods: {
          applyFilter() {
            // this.$root.$children[0].$children[0].resetFilter();
            for (let settingIndex in this.localDataFilters) {
              Event.$emit('vue-tables.filter::' + settingIndex, this.localDataFilters[settingIndex]);
            }

            this.searchModal.state = false;
            this.searchAddFieldModal.state = false;
          },
          resetFilter() {
            for (let localFilter in this.localDataFilters) {
              this.modelFields[localFilter] = null;
            }

            this.localDataFilters = {};

            for (let settingIndex in this.contractHeadings) {
              Event.$emit('vue-tables.filter::' + settingIndex, '');
            }

            this.searchModal.state = false;
            this.searchAddFieldModal.state = false;
          },
          updateLocalFilters(e, name) {
            if (e.target) {
              this.localDataFilters[e.target.name] = e.target.value;
            } else {
              this.localDataFilters[name] = e;
            }
          },
          columnFilter: function (id) {
            // let filteredElements = document.querySelectorAll('[filter-id="' + id + '"]');

            // if (this.columnsDisplay.indexOf(id) !== -1) {
            //   for (let i = 0; i < filteredElements.length; i++) {
            //     filteredElements[i].style.display = 'table-cell';
            //   }
            //
            //   this.columnsDisplay.splice(this.columnsDisplay.indexOf(id), 1);
            //
            //   this.localStorage[id] = false;
            // } else {
            //   for (let i = 0; i < filteredElements.length; i++) {
            //     filteredElements[i].style.display = 'none';
            //   }
            //
            //   this.columnsDisplay.push(id);
            //
            //   this.localStorage[id] = true;
            // }

            // localStorage[this.tableType + 'Filters'] = JSON.stringify(this.localStorage);
          },
          applyAddress(suggestionData) {
            console.log('suggestionData', suggestionData);
            // let event = new Event('change');
            // let contract_customer_street = document.querySelector('input[name="contract_customer_street"]');
            // let contract_customer_region = document.querySelector('input[name="contract_customer_region"]');
            // let contract_customer_area = document.querySelector('input[name="contract_customer_area"]');
            // let contract_customer_locality = document.querySelector('input[name="contract_customer_locality"]');
            // let contract_customer_house_number = document.querySelector('input[name="contract_customer_house_number"]');
            // let contract_customer_type_of_room = document.querySelector('input[name="contract_customer_type_of_room"]');

            this.modelFields.contract_customer_full_address = suggestionData.value;
            this.localDataFilters.contract_customer_full_address = suggestionData.value;

            // this.modelFields.contract_customer_street = suggestionData.data.street;
            // this.modelFields.contract_customer_region = suggestionData.data.region_with_type;
            // this.modelFields.contract_customer_area = suggestionData.data.area_with_type;
            // this.modelFields.contract_customer_locality = suggestionData.data.city_with_type;
            // this.modelFields.contract_customer_house_number = suggestionData.data.house;
            //
            // if (suggestionData.data.flat_type && suggestionData.data.flat) {
            //     this.modelFields.contract_customer_type_of_room = suggestionData.data.flat_type + suggestionData.data.flat;
            // } else {
            //     this.modelFields.contract_customer_type_of_room = null;
            // }
            //
            // contract_customer_street.value = suggestionData.data.street;
            // contract_customer_region.value = suggestionData.data.region_with_type;
            // contract_customer_area.value = suggestionData.data.area_with_type;
            // contract_customer_locality.value = suggestionData.data.city_with_type;
            // contract_customer_house_number.value = suggestionData.data.house;
            //
            // if (suggestionData.data.flat_type && suggestionData.data.flat) {
            //     contract_customer_type_of_room.value = suggestionData.data.flat_type + suggestionData.data.flat;
            // } else {
            //     contract_customer_type_of_room.value = null;
            // }
            //
            // contract_customer_street.dispatchEvent(event);
            // contract_customer_region.dispatchEvent(event);
            // contract_customer_area.dispatchEvent(event);
            // contract_customer_locality.dispatchEvent(event);
            // contract_customer_house_number.dispatchEvent(event);
            // contract_customer_type_of_room.dispatchEvent(event);
          },
          applyDate(type, e, name) {
            let transformedDate = '';

            if (name !== 'payment_time') {
              let date = new Date(e);
              transformedDate = String(Number(date.getFullYear()) < 10 ? '0' + String(date.getFullYear()) : String(date.getFullYear()))
                  + '-'
                  + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                  + '-'
                  + String(date.getDate())
                  + ' '
                  + String(String(date.getHours()) < 10 ? '0' + String(date.getHours()) : String(date.getHours()))
                  + ':'
                  + String(String(date.getMinutes()) < 10 ? '0' + String(date.getMinutes()) : String(date.getMinutes()))
                  + ':'
                  + String(String(date.getSeconds()) < 10 ? '0' + String(date.getSeconds()) : String(date.getSeconds()));
            } else {
              name = 'payment_date';

              let date = new Date(this.editingPayment.payment_date);
              transformedDate = String(Number(date.getFullYear()) < 10 ? '0' + String(date.getFullYear()) : String(date.getFullYear()))
                  + '-'
                  + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                  + '-'
                  + String(date.getDate())
                  + ' '
                  + e.target.value;
            }

            this.localDataFilters[name] = transformedDate;
          },
          clearFilter(index) {
            // this.searchModal.state = false;
            // this.searchAddFieldModal.state = false;
            Event.$emit('vue-tables.filter::' + index, '');
            this.filtersDisplay[this.tableType][index] = null;
            this.modelFields[index] = null;
            delete this.localDataFilters[index];
          }
        },
        computed: {
          ...mapGetters([
            'contractHeadings',
            'tableType',
            'contractSettings',
            'filtersDisplay'
          ]),
        },
        mounted() {
          this.$store.dispatch('getContractSettings').then(() => {
            for (let settingIndex in this.$store.getters.contractSettings) {
              let setting = this.$store.getters.contractSettings[settingIndex]
              setting.properties = JSON.parse(setting.properties);
              this.selects[setting.name] = setting;
            }
          });
          console.log('this', this)
        }
    }
</script>
