<template>
    <td
    :tabindex="props.tabIndex"
    :class="props.classes"
    :filter-id="props.column"
    :style="{
      'display': columnsDisplay.indexOf(props.column) === -1
      && !localStorage[props.column]
      && props.column !== 'editing' ? 'none' : 'table-cell'
    }"
    >
        <a
        v-if="props.column !== 'file'
        && props.column !== 'receipts_period'
        && props.column !== 'receipts_name'
        && props.column !== 'receipts_sum'
        && props.column !== 'receipts_debt'
        && props.column !== 'receipts_count'"
        :href="'/contract/id/' + props.row.contract_number"
        ><vnodes :vnodes="props.content"/></a>
        <div
        v-else
        >
            <vnodes :vnodes="props.content"/>
        </div>
    </td>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "MyTableCell",
        props: ['props'],
        components: {
            vnodes: {
                functional: true,
                render: (h, ctx) => typeof ctx.props.vnodes === 'object' ? ctx.props.vnodes : [ctx.props.vnodes]
            }
        },
        data() {
          return {
            localStorage: {},
          }
        },
        computed: {
            ...mapGetters([
                'contractHeadings',
                'tableType',
            ]),
            columnsDisplay() {
              this.localStorage = JSON.parse(localStorage[this.tableType + 'Filters']);

              return this.$store.getters.columnsDisplay;
            },
        },
        mounted() {
          this.localStorage = JSON.parse(localStorage[this.tableType + 'Filters']);
        }
    }
</script>

<style scoped>
</style>